
.loginform{
 background-color: lightcyan;
padding: 85px;

background-image: url("https://wallpapermemory.com/uploads/568/restaurant-background-hd-2560x1600-492495.jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}